- content_for :page_title do
  = t('auth.login')

=javascript_pack_tag 'two_factor_authentication', integrity: true, crossorigin: 'anonymous'

- if @webauthn_enabled
  = render partial: 'auth/sessions/two_factor/webauthn_form', locals: { hidden: @scheme_type != 'webauthn' }

  .actions
    = render partial: 'auth/shared/recaptcha'
    = f.button :button, t('auth.login'), type: :submit, disabled: true

  - if Setting.site_contact_email.present?
    %p.hint.subtle-hint= t('users.otp_lost_help_html', email: mail_to(Setting.site_contact_email, nil))

= render partial: 'auth/sessions/two_factor/otp_authentication_form', locals: { hidden: @scheme_type != 'totp' }
